{% extends 'jobs/base.html' %}

{% block content %}
<div>
    <h3>New Job</h3>
    <form id="job-form">
        <div class="mb-3">
            <label for="customerName">
                Customer: 
            </label>
            <input type="text" class="form-control" id="customerName" name="customerName" required><br>
        </div>
        <div class="mb-3">
            <label for="jobType">
                Job Type: 
            </label>
            <input type="text" class="form-control" id="jobType" name="jobType" required><br>
        </div>
        <div class="mb-3">
            <label for="status">
                Status: 
            </label>
            <input type="text" class="form-control" id="status" name="status" required><br>
        </div>
        <div class="mb-3">
            <label for="appointmentDate">
                Appointment Date: 
            </label>
            <input type="datetime-local" class="form-control" id="appointmentDate" name="appointmentDate" required><br>
        </div>
        <div class="mb-3">
            <label for="technician">
                Technician: 
            </label>
            <input type="text" class="form-control" id="technician" name="technician" required><br>
        </div>
        <button type="submit" class="btn btn-primary">
            Create Job
        </button>

    </form>
</div>

{% endblock %}